* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    background: rgb(254, 251, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    width: 80%;
    text-transform: uppercase;
    color: rgb(52, 52, 52);
  }
  
  .boxes {
    background: rgb(254, 160, 160);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .boxes2 {
    width: 80%;
    background: whitesmoke;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .box {
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    display: flex;
  }

  .box:hover {
    background: none;
  }

  img {
      position: relative;
      width: inherit;
      height: inherit; 
  }

  img:hover {
      opacity: 0;
      background: coral;
  }
  
  .box:hover {
    animation-name: expand;
    animation-duration: .4s;
    animation-fill-mode: forwards
  }
  
  @keyframes expand {
    from {}
    to {background: rgba(255, 255, 255, 0); width: 200px; height: 100px; color: white;}
  }
  
  .text {
    text-decoration: none;
    font-size: .7em;
    color: oldlace;
    display: flex;
    opacity: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .text:hover {
    display: flex;
    animation-name: reveal;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
  }
  
  @keyframes reveal {
    from {}
    to {
      opacity: 100;
      background: rgb(52, 52, 52);
    }
  }
  
  .box1 {
    background: rgb(131, 145, 83);
    background-image: url(img/353444\ -\ audio\ film\ media\ movie\ music\ play\ player\ video.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }
  
  .box2 {
    background: rgb(255, 229, 176);
    background-image: url(img/353424\ -\ instagram\ logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;

  }
  
  .box3 {
    background: rgb(182, 206, 160);
    background-image: url(img/353427\ -\ logo\ twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }
  
  .box4 {
    background: rgb(250, 162, 111);
    background-image: url(img/353429\ -\ audio\ music\ note\ sound.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  @media screen and (max-height: 500px) {
    
    .boxes, .boxes2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .master {
    display: flex;
    justify-content: space-between;
  }
