* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    color: rgb(239, 241, 242);
    background: rgb(75, 120, 235);
  }
  
  .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* .boxes2 {
    width: 80%;
    background: rgb(155, 164, 165);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  } */
  
  .box {
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    display: flex;
  }

  .box:hover {
    background: none;
  }

  img {
      position: relative;
      width: inherit;
      height: inherit; 
  }

  img:hover {
      opacity: 0;
  }
  
  .box:hover {
    animation-name: expand;
    animation-duration: .4s;
    animation-fill-mode: forwards
  }
  
  .text {
    text-decoration: none;
    font-size: .7em;
    color: oldlace;
    display: flex;
    opacity: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .text:hover {
    display: flex;
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
  }
  
  @keyframes reveal {
    from {}
    to {
      opacity: 100;
      background: rgb(52, 52, 52);
    }
  }
  
  .box1 {
    background: rgb(131, 145, 83);
    background-image: url(img/353444\ -\ audio\ film\ media\ movie\ music\ play\ player\ video.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }
  
  .box2 {
    background: rgb(255, 229, 176);
    background-image: url(img/353424\ -\ instagram\ logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;

  }
  
  .box3 {
    background: rgb(182, 206, 160);
    background-image: url(img/353427\ -\ logo\ twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }
  
  .box4 {
    background: rgb(250, 162, 111);
    background-image: url(img/353429\ -\ audio\ music\ note\ sound.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .box5 {
    background: rgb(250, 250, 250);
    background-image: url(img/353418\ -\ laptop\ notebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .box6 {
    background: rgb(191, 222, 220);
    background-image: url(img/353430\ -\ checkbox\ edit\ pen\ pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .box7 {
    background: rgb(6, 230, 133);
    background-image: url(img/353418\ -\ laptop\ notebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .box8 {
    background: rgb(244, 139, 219);
    background-image: url(img/353418\ -\ laptop\ notebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  /* @media screen and (max-height: 450px) {
    
    .boxes, .boxes2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      flex-wrap: nowrap;
    } */

    .box:hover {
      animation-name: expand;
      animation-duration: .4s;
      animation-fill-mode: forwards
    }

  }

  .master {
    display: flex;
    background: rgb(254, 251, 245);
  }

  .youtube {
  }

.video {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

  @keyframes expand {
    from {}
    to {background: rgba(255, 255, 255, 0); width: 165px; height: 100px; color: white;}
  }

  /* @keyframes expandDown {
    from {}
    to {background: rgba(255, 255, 255, 0); width: 160px; height: 200px; color: white;}
  } */